.carousel-item{
    height: 50rem;
    background:#000000;
    color: white;
    position: relative;
    
  }
  .container {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 50px;
    
  }

  
  .overlay-image{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }

  .eventheading{
    padding-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
  }

  /*
  .nav-item{
    padding-left: 50px;
  }
*/
  

  .card-title{
    text-align: center;
  }
  
