{% extends 'base.html' %}


{% block content %}

    <main>
      <br>
      <h5>Booking History</h5>
      <section class="event" style="display: flex; justify-content: center;">
        <article class="event-detail">
          <img src="images/Music_event 1.jpg" alt="Event 1"/>
          <div>
            <h3><strong>Red Bull Music Festival</strong></h3>
            <p><strong>Order ID:</strong>324455789</p>
            <p><strong>Date of Booking:</strong>12th April 2023 </p>
            <a href="event_details.html" class="btn btn-primary">More Details</a>
          </div>
        </article>

        <article class="event-detail">
          <img src="images/Music_event 2.jpg" alt="Event 2"/>
          <div>
            <h3><strong>Summer Party</strong></h3>
            <p><strong>Order ID:</strong>735892438</p>
            <p><strong>Date of Booking:</strong>10 June 2023 </p>
            <a href="event_details.html" class="btn btn-primary">More Details</a>
          </div>
        </article>
        <article class="event-detail">
          <img src="images/event5.jpg" alt="Event 5"/>
          <div>
            <h3><strong>Rock and Bowl</strong></h3>
            <p><strong>Order ID:</strong>347644321</p>
            <p><strong>Date of Booking:</strong>12th April 2023 </p>
            <a href="event_details.html" class="btn btn-primary">More Details</a>
          </div>
        </article>
        <article class="event-detail">
          <img src="images/Music_event 4.jpg" alt="Event 4" style="width:280px; height: 200px;"/>
          <div>
            <h3><strong>Bluefest</strong></h3>
            <p><strong>Order ID:</strong>347644321</p>
            <p><strong>Date of Booking:</strong>12th April 2023 </p>
            <a href="event_details.html" class="btn btn-primary">More Details</a>
          </div>
        </article>
      </section>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
      crossorigin="anonymous">

    </script>
  </div>
  <br> 
  <br> 
  <br> 
  <br> 
 
  <!-- Footer - Responsive -->
  <div class="footer-basic" style="position: relative;">
    <footer>

        <ul class="list-inline">
            <li class="list-inline-item" style = "font-size: 15px;"><a href="#">Terms and Use</a></li>
            <li class="list-inline-item" style = "font-size: 15px;"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item" style = "font-size: 15px;"><a href="#">Cookies Policy</a></li>
        </ul>
        <p><a href="mailto:tunetown@musicevents.com" style="color:white; font-size: 12px;">Email Us: tunetown@musicevents.com</a></p>
        <p class="copyright">Tune Towns © 2023</p>
    </footer>
</div>
</body> 

</html>