{% extends 'base.html' %}

{% import "bootstrap4/form.html" as wtf %}

{% block content %}

<div class="container">  
    <div class="row mt-5 mb-3">  
      <div class="col-md-12">  
        <div class="float-left">  
          <h1 class="mb-0">{{Event.event_title}}</h1>  
        </div>  
  </div>
  </div>
    
    <!-- Event --> 
    <div class="row">  
      <div class="col-md-12">  
        <div class="card my-3">  
          <div class="card-body">  
            <div class="media">  
              <img class="center-block" src="{{Event.image}}" style="width:640px; height: 400px; justify-content: center;">  
              <div class="media-body">    
                <h5 class="mt-0">{{Event.event_title}} - {{Event.ticket_status}} </h5>  
                <p><b>Event Description </b></p>
                <p>{{Event.genre}} - {{Event.description}}</p>
                <p><b>Date and Time </b></p>
                <p>{{Event.date}}</p>  
                <p>{{Event.start_time}} - {{Event.end_time}}</p> 
                <p><b>Location </b></p>
                <p>{{Event.location}}</p> 
                <p><b>Ticket Price</b></p> 
                <p>$ {{Event.ticket_price}}</p>  
                <a href="{{ url_for('auth.update', id=Event.id) }}" class="btn btn-primary">Update Event</a>
                <a href="{{ url_for('main.booking', id =Event.id) }}" class="btn btn-primary btn-lg btn-block">Book Ticket</a
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>      
 
   
 
    <hr>  
 
    <!-- Comments -->  
    <div class="row">  
      <div class="col-md-12">  
        <h2>Comments</h2>  
      </div>  
    </div>  
 
    <div class="row border-bottom"> 
      {{wtf.render_form(form,"/{0}/comment".format(Event.id))}} 
      {% for Comment in Event.comments %}
      <div class="col-md-12">  
        <b>{{Comment.User.name}} <span class="ml-2 text-muted">{{Comment.created_at}}</span></b>
        <p>{{Comment.text}}</p>  
      </div> 
      {% endfor %} 
    </div>  
  </div> 

{% endblock %}
