{% extends 'base.html' %}


{% block content %}
        
        
        <div style="padding-left: 5%; padding-right: 5%; padding-top: 20px;">
        <h5 class="mb-4">Create An Event</h5>
        <form action="/action_page.php">
        
          <div class="form-group">
            <label for="eventName">Event Name:</label>
            <input type="text" id="eventName" class="form-control" placeholder="Enter the name of the event">
          </div>
        
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" class="form-control" placeholder="Enter a description of the event"></textarea>
          </div>
        
          <div class="form-group">
            <label for="artist">Artist Names:</label>
            <input type="text" id="artist" class="form-control" placeholder="Enter the name(s) of the artist(s)">
          </div>
        
          <div class="form-group">
            <label>Date and Time:</label>
            <div class="row">
              <div class="col-md-6">
                <input type="date" id="Date" class="form-control" placeholder="Enter the date of the event">
              </div>
              <div class="col-md-6">
                <input type="time" id="Time" class="form-control" placeholder="Enter the start time of the event">
              </div>
            </div>
          </div>
        
          <div class="form-group">
            <label for="venue">Venue:</label>
            <input type="text" id="venue" class="form-control" placeholder="Enter the venue of the event">
          </div>
        
          <div class="form-group">
            <label for="price">Price Per Ticket ($):</label>
            <div class="input-group">
              <input type="number" step="any" id="price" class="form-control" placeholder="Enter price per ticket">
            </div>
          </div>
        
          <div class="form-group">
            <label for="tickets">Number of Tickets Available:</label>
            <input type="number" id="tickets" class="form-control" placeholder="Enter the number of tickets available">
          </div>
        
          <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" class="form-control">
              <option> Please Choose an Option</option>
              <option value="upcoming">Upcoming</option>
              <option value="inactive">Inactive</option>
              <option value="booked">Booked</option>
              <option value="cancelled">Cancelled</option>
            </select>
          </div>
        
          <div class="form-group">
            <label for="myFile">Upload Image:</label>
            <input type="file" id="myFile" name="filename" class="form-control-file">
          </div>
        
          <div class="form-group" style=" display: flex; justify-content: center;">
            <button type="submit" class="btn btn-primary mr-2">Add Event</button>
          </div>
          <div class="form-group" style=" display: flex; justify-content: center;">
            <button type="reset" class="btn btn-secondary">Clear Form</button>
          </div>
          
        </form>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
      crossorigin="anonymous">

    </script>
  </div>

{% endblock %}