{% extends 'base.html' %}

{% block header %}
      <!--Jumbotron-->
      <!--Jumbotron-->
      <div class="jumbotron jumbotron-fluid">
         <div class="container">
           <h2>WELCOME TO TUNE TOWN!</h2>
           <h3>IF YOU HAVE THE TIME, WE HAVE THE MUSIC!</h3>
           <form class="container" action="{{url_for('main.search')}}" >
            <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="SearchForm">
            <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Search</button>
          </form>
         </div>
     </div>
 </header>
{% endblock %}

{% block content %}
                 <main id="main">
                  <div class="events-grid">
                    <h4 style="margin: auto;">Upcoming Events</h4>
                    <br>
                  <section class="event" style="display: flex; justify-content: center;">
                    {% for Event in events %}
                    <article class="event-detail" >
                      <img src={{Event.image}} alt="Event Photo" style="width:280px; height: 200px; "/>
                      <div>
                        <h3><strong>{{Event.event_title}}</strong></h3>
                        <p><strong>Date:</strong>{{Event.date}}</p>
                        <p><strong>Time:</strong>{{Event.start_time}}</p>
                        <p><strong>Status:</strong>{{Event.ticket_status}}</p>
                        <a href="{{url_for('auth.show', id=Event.id)}}" class="btn btn-primary" style="display: flex; justify-content: center; ">More Details</a>
                      </div>
                    </article>
            {% endfor %}
         </div>
      </div>
{% endblock %}
